* {
}
body {
  background: lightgrey;
}
h3 {
  margin: 4px 0px;
}
.post-container {
  background: blue;
  display: flex;
  width: 640px;
  flex-direction: row;
  margin: 5px 0px;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  align-items: flex-start;
}
/* .post-leftbar {
  flex-direction: column;
  height: 100%;
} */
.post-scores {
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 4px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 64px;
}
.vote {
  justify-content: center;
  align-items: center;
}
.post-main-container {
  background: purple;
  box-sizing: border-box;
  /* margin: 0px 8px; */
  /* height: 200px; */
  width: 598px;
}
.post-main-wrapper {
  margin-left: 8px;
  margin-bottom: 10px;
}
